@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

:root {
    --body: white;
    --body-width: 1200px;
    --main-content-width: calc(var(--body-width) - 440px - 32px);

    --primary: #00658e;
    --on-primary: #ffffff;
    --primary-container: #c4e7ff;
    --on-primary-container: #001e2e;
    --secondary: #4f616e;
    --on-secondary: #ffffff;
    --secondary-container: #d2e5f4;
    --on-secondary-container: #0b1d28;
    --tertiary: #625a7c;
    --on-tertiary: #ffffff;
    --tertiary-container: #e8ddff;
    --on-tertiary-container: #1e1735;
    --error: #ba1b1b;
    --error-container: #ffdad4;
    --on-error: #ffffff;
    --on-error-container: #410001;
    --background: #fbfcff;
    --on-background: #191c1e;
    --surface: #fbfcff;
    --on-surface: #191c1e;
    --surface-variant: #dde3ea;
    --on-surface-variant: #41484d;
    --outline: #71787e;
    --inverse-on-surface: #f0f1f4;
    --inverse-surface: #2e3133;
    --inverse-primary: #7fcfff;
    --shadow: #000000;
}

body {
    background: var(--body);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: var(--body-width);
}

.captcheck_container a {
    display: unset;
}

.field.plain input {
    border: none;
    background-color: rgba(126, 126, 126, 0.05);
    border-radius: 4rem;
}

.header-container {
    padding-top: 80px;
    padding-bottom: 50px;
}

.header-title {
    display: block;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    max-width: 530px;
    font-size: 44px;
}

input[type=search] {
    appearance: none;
    -webkit-appearance: none;
}

.js-nav-search,
.js-main-search {
    transition: transform 0.1s cubic-bezier(.43, .16, .26, .97), opacity 0.1s linear;
}

.js-main-search {
    margin: auto;
    max-width: 640px;
    z-index: 15;
}

header.fixed:before {
    background-color: white;
    border-bottom: 1px solid var(--tertiary-container);
}

header nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav button {
    position: absolute;
    left: 0;
}

.js-nav-search {
    width: var(--body-width);
}

.js-nav-search [type=search] {
    max-width: var(--main-content-width);
    height: 48px;
}

.js-nav-search.out {
    transform: translateY(20px) scaleX(1.1);
    opacity: 0;
}

.js-main-search.out {
    transform: translateY(-20px) scaleX(0.9);
    opacity: 0;
}

.demo-card-inner {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}

.demo-card::after {
    content: " ";
    position: absolute;
    bottom: calc(100% + 8px);
    height: 0;
    width: 0;
    left: calc((100% - 640px) / 2 + 24px);
    border: solid transparent;
    border-bottom-color: var(--body);
    border-width: 24px;
    margin-left: 2px;
}

.example-text {
    padding-top: 22px;
    padding-bottom: 16px;
    color: #777;
    font-size: 18px;
}

.examples {
    display: flex;
    gap: 22px;
}

.examples article,
.examples a {
    width: 100%;
}

.examples img {
    width: 100%;
    height: auto;
}

.stats {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
}

.stats li {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.stats span {
    font-size: 20px;
    color: #565656;
}

.stats .numeric {
    font-size: 28px;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    border-radius: 0;
    padding: 16px 22px;
    border-bottom: 1px solid #E0E0E0;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

article.white {
    background-color: #fff;
}

.ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-height {
    height: 100%;
}

article h5:first-child {
    padding-top: 22px;
}

.flag {
    padding-right: 8px;
    border-radius: 2px;
}

a.link {
    color: var(--primary);
    text-decoration: underline;
}

.subjectCard {
    display: flex;
    gap: 16px;
    border: 2px solid var(--surface-variant);
    border-radius: 4px;
    overflow: hidden;
}

.subjectCard img {
    height: 58px;
    width: 58px;
    object-fit: cover;
}

.subjectCard p {
    margin-left: 22px;
    font-weight: 600;
}

button.link {
    all: unset;
}

.searchResults {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.searchCol {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.searchResults li {
    padding: 0;
    border: none;
}

.searchResult {
    all: unset;
    display: block;
}

.searchResult header {
    all: unset;
    padding: 0;
    margin: 0;
    color: #444;
}

.searchResult>a {
    color: #1a0dab;
    display: flex;
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
}

.searchResult>a:visited {
    color: #551A8B;
}

.searchResult>a:hover h3 {
    text-decoration: underline;
}

.searchResult h3 {
    display: block;
    margin: 0;
    color: inherit;
    display: block;
    font-size: 22px;
    width: 100%;
}

.searchResult h3.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
}

.searchResult kbd {
    padding: 0px 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.searchResult .date {
    opacity: 0.8;
}

.searchResult .subjects {
    margin-left: 12px;
    margin-top: 8px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    row-gap: 6px;
    column-gap: 18px;
}

.subjects:last-child {
    margin-bottom: 12px;
}

.searchResult .subjects li {
    padding: 0;
    margin: 0;
    color: inherit;
}

.subjects a {
    text-decoration: underline;
}

.searchResult .subjects span {
    color: inherit;
}

.searchResult.big {
    padding-bottom: 22px;
    border-bottom: 1px solid lightgray;
}

.searchResult.big mark {
    background-color: var(--secondary-container);
    color: #000;
}

.searchResult mark {
    background-color: transparent;
}

.searchResult.big .text {
    font-size: 26px;
}

.locateResults {
    padding: 12px 22px;
    background: rgb(240, 240, 192);
}

.locateResults a {
    text-decoration: underline;
}

.moreSearches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.moreSearches a {
    display: block;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: var(--inverse-on-surface);
    color: #000;
    font-size: 18px;
    text-decoration: underline;
}

.establishment {
    height: auto;
    all: unset;
    display: block;
    padding-bottom: 32px;
}

.establishment .grid {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px;
}

.establishment h2 {
    margin-top: 32px;
    font-size: 26px;
}

.establishment small {
    display: block;
    margin-top: 8px;
    font-size: 18px;
    color: #777;
}

.establishment .map {
    padding-bottom: 22px;
}

.establishment a {
    margin-bottom: 22px;
}

.showMoreResults {
    width: 100%;
    display: flex;
    align-items: center;
}

.showMoreResults a {
    padding: 12px 22px;
    white-space: nowrap;
    font-size: 18px;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    border-radius: 50px;
}

.showMoreResults::before,
.showMoreResults::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--on-secondary-container);
}

form.snippet {
    display: flex;
    gap: 4px;
    max-width: 420px;
}

form.snippet input[type=submit] {
    appearance: none;
    border-radius: 2px;
    border: 1px solid #ddd;
    min-width: 105px;
    max-width: 100%;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

form.snippet input[type="search"] {
    padding-left: 11px;
    border: 1px solid #919191;
    width: 100%;
}

.comparisons {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--on-secondary-container);
}

.comparisons ul {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 8px;
    max-width: var(--body-width);
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 22px;
}

.comparisons h4 {
    margin: 0 auto;
    padding-top: 22px;
    max-width: var(--body-width);
    font-size: 22px;
}

.comparisons.noDots h4 {
    display: none;
}

.comparisons li {
    padding: 18px 0;
    border: none;
    width: 100%;
}

.comparisons li:not(:last-child) {
    border-right: 1px solid lightgray;
}

.comparisons .circle {
    user-select: none;
    border-radius: 50px;
    width: 28px;
    height: 28px;
}

.comparisons.noDots .circle {
    display: none;
}

.comparisons span {
    font-size: 24px;
    text-transform: capitalize;
    color: #434343;
}

.comparisons a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
}

.comparisons a small {
    padding-top: 6px;
}

.comparisons .filters {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comparisons.withDot .filters {
    padding-left: 22px;
}

.comparisons .filters li:first-child {
    padding-top: 18px;
}

.comparisons .filters li {
    padding: 0;
    border: none;
    opacity: 0.7;
}

#readMoreText {
    transition: height .3s ease-in-out;
    overflow: hidden;
    border-radius: 0px;
}

input:focus {
    outline: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
    outline: auto;
}

.searchContent {
    width: 100%;
    display: grid;
    grid-template-columns: var(--main-content-width) 440px;
    align-items: start;
    gap: 32px;
}

aside.graphs {
    --background: var(--inverse-on-surface);
    --border-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
    background-color: var(--background);
}

aside.graphs.withArrow::before {
    --size: 22px;
    content: "";
    position: absolute;
    top: 48px;
    left: calc(var(--size) / 2 * -1);
    width: var(--size);
    height: var(--size);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    background-color: var(--background);
    transform: rotate(-45deg);
}

aside.graphs article {
    box-shadow: none;
    background-color: var(--background);
    border-radius: 0px;
    padding: 2px;
}

aside.graphs p {
    padding-right: 8px;
    color: var(--on-secondary-container);
}

dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 42px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 8px 1px #ddd;
    border: 1px solid #ddd;
    overscroll-behavior: contain;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 22px;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;
    transition: height .6s ease;
}

.carousel.loaded {
    animation: scaleIn .6s ease;
}

@keyframes scaleIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

dialog::backdrop {
    background-color: #fffa;
}

@media (max-width: 900px) {
    main {
        padding: 0;
        margin: 0;
        max-width: unset;
    }

    .header-title {
        font-size: 36px;
    }

    header nav {
        justify-content: flex-end;
    }

    .js-nav-search {
        width: calc(100vw - 94px);
    }

    .js-nav-search [type=search] {
        width: 100%;
        max-width: 100vw;
    }

    .examples {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .demo-card-inner {
        padding: 0 12px;
        max-width: 700px;
    }

    .comparisons ul {
        flex-direction: column;
        row-gap: 0;
    }

    .searchContent {
        grid-template-columns: 100vw;
    }

    .searchResult,
    h6,
    .moreSearches,
    .context {
        padding: 0 12px;
    }

    .searchResults>li:not(:last-child) {
        border-bottom: 6px solid #f7f7f7;
    }

    .searchResult h3.ellipsis {
        white-space: break-spaces;
        max-height: auto;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

@media (max-width: 1300px) {
    :root {
        --body-width: min(900px, calc(100% - 22px));
    }
}