@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("/public/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

:root {
    --body: #F7F7F7;
}

body {
    background: var(--body);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: 1200px;
}

.field.plain {
    background-color: rgba(126, 126, 126, 0.05);
    border-radius: 4rem;
}

.field.plain input {
    border: none;
}

.header-container {
    padding-top: 80px;
    padding-bottom: 50px;
}

.header-title {
    display: block;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    max-width: 530px;
    font-size: 44px;
}

.js-nav-search,
.js-main-search {
    transition: transform 0.1s cubic-bezier(.43, .16, .26, .97), opacity 0.1s linear;
}

.js-main-search {
    margin: auto;
    max-width: 640px;
    z-index: 15;
}

.js-nav-search {
    width: 100%;
    max-width: 580px;
}

.js-nav-search.out {
    transform: translateY(20px) scaleX(1.1);
    opacity: 0;
}

.js-main-search.out {
    transform: translateY(-20px) scaleX(0.9);
    opacity: 0;
}

.demo-card::after {
    content: " ";
    position: absolute;
    bottom: calc(100% + 8px);
    height: 0;
    width: 0;
    left: calc((100% - 640px) / 2 + 24px);
    border: solid transparent;
    border-bottom-color: var(--body);
    border-width: 24px;
    margin-left: 2px;
}

li a:focus {
    outline: 1px dotted #333;
    outline-offset: 4px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    border-radius: 0;
    padding: 16px 22px;
    border-bottom: 1px solid #E0E0E0;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

article.white {
    background-color: #fff;
}

.ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-height {
    height: 100%;
}

article h5 {
    padding-top: 8px;
    margin-left: 6px;
}

.flag {
    padding-right: 8px;
    border-radius: 2px;
}

a.link {
    color: var(--primary);
    text-decoration: underline;
}

button.link {
    all: unset;
}

#readMoreText {
    transition: height .3s ease-in-out;
    overflow: hidden;
    border-radius: 0px;
}

@media (max-width: 900px) {
    .js-nav-search {
        width: unset;
        max-width: 100%;
    }

    nav .max {
        display: none;
    }
}